body {
  font-family: Arial;
  text-align: left;
  margin-top: 50px;
  background-color: #87CEEB;
  margin: 0;
  padding: 0;
}

input {
  padding: 10px;
    border-radius: 5px;
}

button {
  background: #1e90ff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 0 15px #e9c216, 0 0 30px #e9c216;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container img {
    width: 100%;
    height: 100%
}
.text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.c1 {
    position: absolute;
    top: 30%;
    left: 40%
}
#weatherResult{
    position: absolute;
    color: white;
    top: 50%;
    left: 40%;
}
p{
    left: 30%
}
.weather-card {
  background: rgb(238, 210, 245);
  color: black;
  padding: 20px;
  margin: 20px auto;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: 0.3s;
  
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

